.logout {
    background-color: red;
    color: white;
    margin-left: 1800px;
}

.menu-icon {
    background-color: rgb(255, 0, 0);
    color: white;
}

.mat-badge {
    color: white;
    margin-left: 50px;
    margin-top: 2 px;
    top: 8px;
    right: 18px;
    cursor: pointer;
}